<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me! YAY!! My name is Christina and I live in Las Vegas Nevada!</p>
    </body>
</html>